@model Vehicle // Specify the model type for this view

@{
    ViewData["Title"] = "Edit Vehicle";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <!-- Specify the action to be invoked upon form submission -->

@*     <div class="form-group">
        <label asp-for="@Model.VehicleMakeID">Make/Brand</label> <!-- Display label for Make/Brand property -->
        <select class="form-select" asp-for="@Model.VehicleMakeID">
            <option disabled value="">Choose your Vehicle Make/Brand</option>
            @foreach (var make in Model.vehiclesMakes)
            {
                <option value="@make.VehicleMakeID">@make.Brand</option>
            }
        </select>

        <span asp-validation-for="@Model.VehicleMakeID" class="text-danger"></span> <!-- Display validation message for VehicleMakeID -->
    </div> *@
    <div class="form-group">
        <label asp-for="VehicleModel">VehicleModel</label> <!-- Display label for VehicleModel property -->
        <input asp-for="VehicleModel" class="form-control" /> <!-- Input field for VehicleModel -->
        <span asp-validation-for="VehicleModel" class="text-danger"></span> <!-- Display validation message for VehicleModel -->
    </div>
    <div class="form-group">
        <label asp-for="VehicleIDNum">VehicleIDNum</label> <!-- Display label for VehicleIDNum property -->
        <input asp-for="VehicleIDNum" class="form-control" /> <!-- Input field for VehicleIDNum -->
        <span asp-validation-for="VehicleIDNum" class="text-danger"></span> <!-- Display validation message for VehicleIDNum -->
    </div>
    <div class="form-group">
        <label asp-for="VehiclePlateNum">VehiclePlateNum</label> <!-- Display label for VehiclePlateNum property -->
        <input asp-for="VehiclePlateNum" class="form-control" /> <!-- Input field for VehiclePlateNum -->
        <span asp-validation-for="VehiclePlateNum" class="text-danger"></span> <!-- Display validation message for VehiclePlateNum -->
    </div>


    <div class="form-group">
        <label asp-for="VehicleYear">VehicleYear</label> <!-- Display label for VehicleYear property -->
        <input asp-for="VehicleYear" class="form-control" /> <!-- Input field for VehicleYear -->
        <span asp-validation-for="VehicleYear" class="text-danger"></span> <!-- Display validation message for VehicleYear -->
    </div>
    <input asp-for="DateCreated" value="@Model.DateCreated" hidden />
    <input asp-for="CustomerID" value="1" hidden />
    <button type="submit" class="btn btn-primary">Save Changes</button> <!-- Submit button for form -->
</form>

